
@{
    ViewBag.Title = "CreateSupplier";
}

@model LTW_QLBH_HUNMYI.Models.XUONGIN
@{
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
    ViewBag.Title = "Thêm xưởng in";
}

<h4>Thêm xưởng in</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label>Mã xưởng</label>
        @Html.TextBoxFor(m => m.MAXI, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.MAXI, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label>Tên xưởng</label>
        @Html.TextBoxFor(m => m.TENXI, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label>Địa chỉ</label>
        @Html.TextBoxFor(m => m.DIACHI, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label>SĐT</label>
        @Html.TextBoxFor(m => m.SDT, new { @class = "form-control" })
    </div>

    <div class="mb-3">
        <label>Email</label>
        @Html.TextBoxFor(m => m.EMAIL, new { @class = "form-control", type = "email" })
    </div>

    <div class="mb-3">
        <label>Người liên hệ</label>
        @Html.TextBoxFor(m => m.NGUOILIENHE, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-success">➕ Thêm</button>
    <a href="@Url.Action("Suppliers")" class="btn btn-secondary">Quay lại</a>
}


